
@import './variables.scss';
@import './animations.scss';

@font-face {
  font-family: 'OpenSansHebrewRegular';
  src: local('OpenSansHebrewRegular'), url('./assets/fonts/OpenSansHebrew-Regular.ttf') format('truetype');;
}
@font-face {
  font-family: 'OpenSansHebrewLight';
  src: local('OpenSansHebrewRegular'), url('./assets/fonts/OpenSansHebrew-Light.ttf') format('truetype');;
}
@font-face {
  font-family: 'OpenSansHebrewBold';
  src: local('OpenSansHebrewBold'), url('./assets/fonts/OpenSansHebrew-Bold.ttf') format('truetype');;
}

* {
  font-family: 'OpenSansHebrewRegular', Arial;
  letter-spacing: 1px;
  box-sizing: border-box;
}

body {
  direction: rtl;
  margin: 0;
  color: var(--black);
  overflow-x: hidden;
}

main {
  margin: 100px 0 40px;
  padding: 0 20px;
}

button:active,
button:focus {
  outline: none;
}

h1 {
  font-family: 'OpenSansHebrewLight', Arial;
  margin: 0.5em 0;
  line-height: 1;
  font-size: 4em;
  text-align: center;
  color: var(--orange-dark);
}
