
:root {
  --black: #222;
  --white: #fff;
  --grey-bg: #f1f3f5;
  --grey-dark: #aaa;

  --orange: #f5b44d;
  --orange-dark: #f19809;
  --blue: #93cbff;
  --blue-dark: #6cb5f9;

  --youtube: #eb1f23;
  --facebook: #4969ad;
}
