
section.the-solution {
  min-height: 370px;
  flex-direction: column;
  padding: 30px;
  overflow-x: hidden;

  .problems {
    display: flex;
    justify-content: center;
  }

  * {
    letter-spacing: 1px;
  }

  em {
    font-style: normal;
  }

  .problem {
    text-align: center;
    border: 1px solid var(--grey-dark);
    border-radius: 0.5em;
    padding: 20px 40px;
    margin: 0 20px;
  }

  .header {
    margin: 30px 0 0;
    text-align: center;
  }

  h2 {
    color: var(--orange-dark);
    font-size: 30px;
    font-family: 'OpenSansHebrewLight', Arial;
    margin: 0;

    em {
      font-family: 'OpenSansHebrewRegular', Arial;
    }
  }

  h4 {
    color: var(--black);
    margin: 0 0 15px;
    font-weight: normal;

    em {
      font-family: 'OpenSansHebrewBold', Arial;
    }
  }

  h3 {
    color: var(--black);
    margin: 0;
    font-size: 22px;
    font-family: 'OpenSansHebrewLight', Arial;

    em {
      font-family: 'OpenSansHebrewRegular', Arial;
    }
  }

  p {
    margin: 20px 0 0;
    line-height: 25px;
  }




  @media (max-width: 700px) {
    .problems {
      flex-direction: column;

      .problem {
        margin-top: 30px;
      }
    }
  }




}
